body {
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    align-items: center;
    padding: 0;
    background-color: #f2f2f2;
}

#main-content {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

#player-sidebar {
    width: 25%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 166px;
}

#input-container {
    width: 85%;
    height: 20px;
    margin-bottom: 10px;
}

#search-bar {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.scroll-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    z-index: 1;
}

#scroll-menu::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

.furn-container {
    background-color: #f2f2f2;
    width: 85%;
    aspect-ratio: 300/240; /*Height cannot be a percentage, perhaps needs another container */
    border-radius: 6px;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.furniture {
    width: 95%;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

#iso-art.furniture.dropped {
    width: 40%;
}

#iso-desk.furniture.dropped {
    width: 80%;
}

#iso-chair.furniture.dropped {
    width: 35%;
}

#iso-lamp.furniture.dropped {
    width: 43%;
}

#iso-tv.furniture.dropped {
    width: 43%;
}

#iso-window {
    width: 30%;
    z-index: 998;
}

#central-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.room-container {
    height: 75%;
    aspect-ratio: 1 / 1;
    position: relative;
}

#room-right{
    height: 50%;
    width: 50%;
    background-color: #d3d3d3;
    position: absolute;
    bottom: 50%;
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
    transform-origin: bottom right;
}

#room-left{
    height: 50%;
    width: 50%;
    background-color: #bebebe;
    position: absolute;
    bottom: 50%;
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
    transform-origin: bottom right;
}


#room-bottom{
    /* Copy and use this as the small one*/
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: #54513f;
    bottom: 50%;
    transform: rotate(210deg) skew(-30deg) scaleY(0.864);
    transform-origin: bottom right;
}

@media(max-width: 800px){
    #main-content {
        flex-direction: column-reverse;
    }

    #player-sidebar {
        height: 35%;
        width: 100%;
        box-sizing: border-box; /* ADD THIS */
        padding-bottom: 15px; /* ADD THIS - creates bottom space */
    }

    #input-container {
        width: 120px;
        align-self: start;
        margin-left: 5px;
        margin-bottom: 5px; /*removable*/
    }

    #search-bar {
        width: 120px;
        height: 20px;
    }

    .furn-container {
        height: 90%;
        margin-left: 1%;
        display: flex;
        justify-content: center;
    }

    .furniture {
        height: 100%;
        width: auto;
    }

    .furniture.dropped {
        height: 75%;
    }

    .scroll-menu {
        flex-direction: row;
        height: 70%;
        width: 100%;
        align-items: center;
        overflow-y: visible;
        overflow-x: scroll;
        padding-bottom: 10px;
    }
} 