body {
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    align-items: center;
    padding: 0;
    background-color: #f2f2f2;
}

#main-content {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

#player-sidebar {
    width: 25%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 166px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

#player-sidebar::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

#input-container {
    width: 85%;
    height: 20px;
    margin-bottom: 10px;
}

#search-bar {
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border: 1px solid white;
    box-sizing: border-box;
}

.scroll-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.furn-container {
    background-color: white;
    width: 85%;
    aspect-ratio: 553/431;
    border-radius: 6px;
    position: relative;
    margin-top: 10px;
    z-index: 999;
}


#iso-bed {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

#central-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.room-container {
    height: 75%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.room-left{
    height: 50%;
    width: 50%;
    background-color: #d3d3d3;
    position: absolute;
    bottom: 50%;
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
    transform-origin: bottom right;
}

.room-right{
    height: 50%;
    width: 50%;
    background-color: #bebebe;
    position: absolute;
    bottom: 50%;
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
    transform-origin: bottom right;
}


.room-top{
    /* Copy and use this as the small one*/
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: #54513f;
    transform-origin: 0 0;
    bottom: 50%;
    transform: rotate(210deg) skew(-30deg) scaleY(0.864);
    transform-origin: bottom right;
}

@media(max-width: 800px){
    #main-content {
        flex-direction: column-reverse;
    }

    #player-sidebar {
        height: 30%;
        width: 100%;
    }

    #input-container {
        width: 120px;
        align-self: start;
        margin-left: 5px;
    }

    .scroll-menu {
        flex-direction: row;
        height: 47.5%;
        width: 100%;
        align-items: center;
        overflow-x: auto;
    }

    .scroll-menu::-webkit-scrollbar {
        width: 0;
    }

    #search-bar {
        width: 120px;
        height: 20px;
        margin-left: 1%;
    }

    .furn-container {
        height: 100%;
        margin-left: 1%;
    }
} 