body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

.row {
    display: flex;
    transform: rotateX(30deg), rotateY(45deg), rotateZ(30deg);
}

.cell {
    background-color: grey;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}