body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

#grid-container {
    transform: rotate(210deg) skew(-30deg) scaleY(0.864);
}

.row {
    display: flex;
}

.cell {
    background-color: grey;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0.25px;
}

.cell:hover {
  background-color: lightblue;
}